<div class="container-block without-tab-bar">
  <div class="page-intro">
    <h1>新的社区提案</h1>
    <div class="content">
      <p>
        在维公链上提交一个提案供社区投票。<br>
        提案可以包括：对特性的建议、社区主导的倡议、合作机会、协议改进想法等等。
      </p>
      <p class="widget-help">
        请注意：每个提案的费用成本取决于提交的内容大小，并且投票结果不能确保维公链的团队能够实现。
      </p>
    </div>
  </div><!-- .page-intro -->

  <div class="row" [formGroup]="proposalFormGroup">

    <div class="column">

      <mat-card>
        <div class="title">提案祥情</div>

        <mat-form-field class="full-width">
          <input matInput #title placeholder="提案标题" formControlName="title">
          <mat-hint align="end">{{ title.value?.length || 0 }} / 50</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput #description rows="25" placeholder="描述" formControlName="description"></textarea>
          <mat-hint align="end">{{ description.value?.length || 0 }} / 2000</mat-hint>
        </mat-form-field>

        <p class="widget-help">
	  详细描述您的建议，解释要改变什么、如何改变、为什么要改变。
        </p>
      </mat-card>

      <!-- <mat-card>
        <div class="title TO_DO">Voting period</div>
        <p>
          Specify when will the proposal be active for voting:
        </p>
        <div class="voting-period">
          <!- TODO: populate the "voting-starts" input with: <current block> + 2000 (~ 3 days in future) ->
          <!- TODO: implement "min" attribe which should be equal to current block (= can't submit new proposal retroactively) ->
          <mat-form-field class="half-width">
            <input matInput type="number" placeholder="Voting starts on block #" formControlName="voting-starts">
          </mat-form-field>
          <mat-form-field class="half-width voting-length" floatPlaceholder="never">
            <mat-select placeholder="Voting period">
              <mat-option value="9500">9500 blocks (~ 2 weeks)</mat-option>
              <mat-option value="20000">20000 blocks (~ 1 month)</mat-option>
              <mat-option value="40000">40000 blocks (~ 2 months)</mat-option>
              <mat-option value="60000">60000 blocks (~ 3 months)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <p class="widget-help">
          Note: 1 day equals to approx. 670 blocks. Current block: <strong class="TO_DO">XXXXXX</strong>
        </p>
      </mat-card> -->

    </div><!-- .column -->


    <div class="column">

      <mat-card>
        <div class="title">
          投票选项
          <button [disabled]="proposalFormGroup.controls.options.length >= 5" (click)="addNewInputField()" mat-button color="basic" class="small">
            <!-- TODO: allow max of 5 options total -->
            <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
            增加选项
          </button>
        </div>

        <!-- voting options -->
        <div formArrayName="options">
          <div class="voting item" [formGroupName]="i"
          *ngFor="let option of proposalFormGroup.controls.options.controls; let i = index">
            <span class="no">{{i+1}}</span>
            <div class="content">
              <mat-form-field class="full-width">
                <input matInput placeholder="选项 #{{i+1}}" formControlName="option" maxlength="50">
                <mat-hint align="end">{{ option.value?.option?.length || 0 }} / 50</mat-hint>
              </mat-form-field>
            </div>

            <!-- remove button only visible from 3rd option -->
            <div class="remove-option" *ngIf="i > 1">
              <button (click)="removeInputField(i)" mat-button class="small" color="warn" matTooltip="删除选项" matTooltipPosition="before">
                <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!-- voting options -->

        <p class="widget-help">
	  您的提案至少需要两个投票选项。投票选项越少越好，我们建议最多增加5个投票选项。
        </p>
      </mat-card>

      <!-- <mat-card [formGroup]="infoFormGroup">
        <div class="title">
          Contact information <small>(optional)</small>
          <button mat-button color="basic" class="small TO_DO">
            <mat-icon fontSet="partIcon" fontIcon="part-person-add"></mat-icon>
            Add contributor
          </button>
        </div>

        <div class="author item TO_DO">
          <span class="no">1</span>
          <div class="content">
            <mat-form-field class="full-width">
              <input matInput placeholder="Your name/nickname" formControlName="nickname">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Your Riot/Discord/Github username or an email address" formControlName="email">
            </mat-form-field>
          </div>
        </div>

        <!- FIXME: when clicked on [Add countributor] button, add these: ->
        <!-div class="author item">
          <span class="no">2</span>
          <div class="content">
            <mat-form-field class="full-width">
              <input matInput placeholder="Contributor's name/nickname" formControlName="?????">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Contibutor's Riot/Discord/Github username or an email address" formControlName="?????">
            </mat-form-field>
          </div>
        </div->

        <p class="widget-help">
          Including your contact information is optional, but it can help when discussing submitted proposals. For example, users might have unanswered questions or improvements regarding your proposal.
        </p>
      </mat-card> -->

      <mat-card class="terms">
        <div class="title">条款和条件</div>
        <ul>
          <li>提案费用取决于提案的内容大小</li>
          <li>提案费用是不能够退回的</li>
          <li>提案费用分配给网络节点</li>
          <li>投票结果不代表任何形式的最终结果</li>
          <li>即使提案被投了赞成票，也可能被否决，反之亦然</li>	  
        </ul>
        <mat-checkbox (change)="isTnCAccepted = !isTnCAccepted">是的, 我理解并同意</mat-checkbox>
      </mat-card>

    </div>


  </div><!-- .container-block -->

</div><!-- .container-block -->



<div class="action-buttons" fxLayout fxLayoutAlign="space-between center">
  <!-- FIXME: this buttons should discard changes and redirect user back to Proposals page -->
  <button mat-button color="basic" (click)="backToProposals()">
    <mat-icon fontSet="partIcon" fontIcon="part-error"></mat-icon>
    取消 &amp; 放弃
  </button>
  <!-- FIXME: button disabled until user checks Terms & Conditions checkbox -->
  <button
    [disabled]="(
      !isTnCAccepted ||
      !proposalFormGroup.valid
    )"
    mat-raised-button
    color="primary"
    (click)="submitProposal()"
    matTooltip="在维公链上提交一个新的提案">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    提交新提案
  </button>
</div>
