<div mat-dialog-title>交易--确认</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <!-- TODO: show on alpha mainnet only: -->
  <p class="alpha warning" *ngIf="isPrerelease">
    <strong>Warning:</strong> you are about to <strong>spend real VP coins</strong> in this order on development version of Vpub Marketplace. Bugs may occur &amp; your payment might get lost &ndash; continue on your own risk!
  </p>

  <!-- Bid confirmation-->
  <div class="tx-confirmation">
    <div class="tx-info">
      <!-- if public -->
      <div class="public">
        <mat-icon class="icon public" fontSet="partIcon" fontIcon="part-cart"></mat-icon>
        <div class="title">您正在购物</div>
        <p class="help-text">
          卖家接受了您的订单 &ndash; 支付您的订单
        </p>
      </div>
    </div>

    <div class="tx-amount">
      <span  class="big">{{ bidItem?.listing?.totalAmount(country)?.getIntegerPart() }}</span><span class="point">{{ bidItem?.listing?.totalAmount(country)?.dot() }}</span><span class="small">{{ bidItem?.listing?.totalAmount(country)?.getFractionalPart() }}</span>&ensp;
      <span class="currency">VP</span>
      <!-- TODO: until fiat estimations are implemented, hide them -->
      <div class="fiat">&asymp; 3.42 USD</div>
    </div>
    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label">{{ bidItem?.listing?.title }}</div>
      <code class="address">{{ bidItem?.OrderItem?.Order?.seller }}</code>
    </div>

    <p class="fee-info">
      <!-- Transaction fee:<span class="amount">11 VP</span><span class="fiat">&asymp; 0.05 USD</span><br> -->
      商品价格:<span class="amount">{{ bidItem?.listing?.basePrice?.getIntegerPart() }}{{ bidItem?.listing?.basePrice?.dot() }}{{ bidItem?.listing?.basePrice?.getFractionalPart() }} VP</span><span class="fiat">&asymp; 0.05 USD</span><br>

      邮费:<span class="amount">{{ bidItem?.listing?.shippingAmount(country)?.getIntegerPart() }}{{ bidItem?.listing?.shippingAmount(country)?.dot() }}{{ bidItem?.listing?.shippingAmount(country)?.getFractionalPart() }} VP</span><span class="fiat">&asymp; 0.05 USD</span><br>

      托管费:<span class="amount">{{ bidItem?.listing?.escrowAmount(country)?.getIntegerPart() }}{{ bidItem?.listing?.escrowAmount(country)?.dot() }}{{ bidItem?.listing?.escrowAmount(country)?.getFractionalPart() }} VP</span><span class="fiat">&asymp; 0.05 USD</span><br>

      总费用:<span class="amount">{{ bidItem?.listing?.totalAmount(country)?.getIntegerPart() }}{{ bidItem?.listing?.totalAmount(country)?.dot() }}{{ bidItem?.listing?.totalAmount(country)?.getFractionalPart() }} VP</span><span class="fiat">&asymp; 3.47 USD</span>
    </p>

    <p class="escrow-info">
      注:订单成功完成并交付后，托管资金将退还。
    </p>

  </div>


</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    确认 &amp; 购买
  </button>
</mat-dialog-actions>
