<table class="shipping-address">
  <tr>
    <th>名称</th>
    <td>{{ shippingAddress?.firstName || '' }} {{ shippingAddress?.lastName || '' }}</td>
  </tr>
  <tr>
    <th>收货地址</th>
    <td>
      {{ shippingAddress?.addressLine1 || '' }}
      <div *ngIf="shippingAddress?.addressLine2">
        {{ shippingAddress?.addressLine2 }}
      </div>
    </td>
  </tr>
  <tr>
    <th>城市</th>
    <td>{{shippingAddress?.city || '' }}</td>
  </tr>
  <tr *ngIf="shippingAddress?.state">
    <th>省份</th>
    <td>{{ shippingAddress?.state }}</td>
  </tr>
  <tr>
    <th>邮编</th>
    <td>{{ shippingAddress?.zipCode || '' }}</td>
  </tr>
  <tr>
    <th>国家</th>
    <td>{{ country }}</td>
  </tr>
</table>
