<div mat-dialog-title>钱包修复</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>
<div mat-dialog-content class="dialog-content">
  <p class="success">
      <mat-icon fontSet="partIcon" fontIcon="part-alert"></mat-icon>
      已成功地重新扫描，请再次尝试该交易。
  </p>
</div>

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-raised-button color="primary" mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      确定
  </button>
</mat-dialog-actions>
