<div mat-dialog-title>上报列表</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>


<div mat-dialog-content class="dialog-content">
  <div class="tx-confirmation">

    <div class="tx-info">
      <div class="public">
        <mat-icon class="icon report" fontSet="partIcon" fontIcon="part-flag"></mat-icon>
        <div class="title">上报列表</div>
        <p class="widget-help">
          用户有能力自行管理市场，并删除非法和其他不适当的商品。通过上报这个商品，您可以投票将其从市场上下架。
        </p>
      </div>
    </div><!-- .tx-info -->

    <div class="tx-amount">
      <span class="big">{{ title }}</span>
    </div>

    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label">不合适，下架!</div>
    </div>

  </div><!-- TX confirmation -->
</div><!-- .dialog-content -->


<mat-dialog-actions fxLayoutAlign="space-between center">

  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>

  <button mat-raised-button color="warn" (click)="flag()">
    <mat-icon fontSet="partIcon" fontIcon="part-flag"></mat-icon>
    是的，上报
  </button>

</mat-dialog-actions>
