<!-- Do not remove the below class it is using for test case -->
<app-header class="test-case-container">
  <div class="tab-bar">
    <mat-tab-group (selectChange)="changeTab($event.index)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-listings"></mat-icon>
          商品列表
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger"></mat-icon>
          销售订单
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<!-- =========== LISTINGS =========== -->

<div class="container-block with-tab-bar" *ngIf="tabLabels[selectedTab] == 'listings'">

  <div class="page-intro">
    <h1>您的商城</h1>
    <div class="content">
      <p>
        在此页，您将销售和管理您的所有商品。<br>
	在销售订单页面中，您可以跟踪和处理来自客户的订单。      
      </p>
      <p class="widget-help">
       	注意：这里创建的所有商品都将在市场上公开。
      </p>
    </div>
  </div><!-- .page-intro -->

  <!-- Listings > Filter -->
  <div class="filter">

    <div class="sell-item">
      <button mat-raised-button color="primary" (click)="addItem()" class="full-width"
              matTooltip="增加一个新的商品" matTooltipPosition="above">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        增添商品
      </button>
    </div>

    <div class="section search-sorting">
      <div class="subtitle">查询 &amp; 排序</div>
      <mat-card class="filter-card">
        <mat-form-field class="icon-input filter-input" floatPlaceholder="never">
          <input matInput type="text" class="header-input" placeholder="查询商品" [(ngModel)]="filters.search"
                 (keyup)="clearAndLoadPage()" (keyup.enter)="clearAndLoadPage()" (keyup.escape)="filters.search = ''; clearAndLoadPage()">
          <mat-icon *ngIf="filters.search" matTooltip="Clear" fontSet="partIcon" fontIcon="part-clear-all"
                    (click)="filters.search=''; clearAndLoadPage()"></mat-icon>
          <mat-icon *ngIf="!filters.search" matTooltip="查找" fontSet="partIcon" fontIcon="part-search"
                    (click)="clearAndLoadPage()"></mat-icon>
        </mat-form-field>
        <mat-form-field class="sort-by filter-input" floatPlaceholder="never">
          <mat-select placeholder="商品排序" [(ngModel)]="filters.sort" (change)="clearAndLoadPage()">
            <mat-option *ngFor="let sorting of listing_sortings" [value]="sorting.value">
              {{ sorting.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>

    <div class="section filter-by-type">
      <div class="subtitle">筛选</div>
      <mat-card class="filter-card">
        <mat-radio-group class="radio-group block-radio" [(ngModel)]="filters.hashItems" (change)="clearAndLoadPage()">
          <mat-radio-button class="filter-option" *ngFor="let status of listing_filtering" value="{{ status.value }}" color="primary">
            {{ status.title }}
            <!-- <span class="amount">{{ status.amount }}</span>  -->
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div>

    <button mat-button color="basic" class="clear-filters" (click)="clear()">
      <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
      清除所有筛选
    </button>

  </div><!-- .filter -->

  <!-- .loading-container -->
  <div class="loading-container" *ngIf="isPageLoading">
    <div class="loading-info">
      <div class="loading-image">
        <img src="./assets/particl-logo-symbol.svg">
      </div>
      <p class="title">
        请等待，我们正在加载商品...
      </p>
      <p class="widget-help">
	这可能需要一段时间
      </p>
    </div>
  </div><!-- .loading-container -->

  <!-- Listings > list -->
  <div class="listings section with-filter"
    infiniteScroll
    [infiniteScrollContainer]="pagination.infinityScrollSelector"
    [fromRoot]="true"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadNextPage()">
    <!--div class="subtitle first">Published listings</div-->
    <div class="no-results" [hidden]="(pages.length !== 0) && (pages[0]?.listings.length !== 0)">
      <p>
	很抱歉，未找到！
      </p>
    </div>

    <mat-accordion *ngFor="let page of pages;let pageIndex = index;">
      <app-seller-listing *ngFor="let listing of page.listings; let listingIndex = index" [listing]="listing" (onDelete)="deleteListing(pageIndex, listingIndex)"></app-seller-listing>
    </mat-accordion>

    <!--div class="subtitle">未发布 (templates)</div-->

  </div><!-- .listings-list -->
</div><!-- .container-block -->

<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="loading-bar"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" *ngIf="pages[0] && pages[0].listings && pages[0].listings.length === 10 && isLoading" class="loading-bar"></mat-progress-bar>


<!-- =========== ORDERS =========== -->
<!-- Do not remove the below class it is using for test case -->
<div class="container-block with-tab-bar test-case-container" *ngIf="tabLabels[selectedTab] == 'orders'">

  <div class="page-intro">
    <h1>销售订单</h1>
    <div class="content">
      <p>
	在此页中，您可以管理所销售商品的所有订单。
      </p>
      <p class="widget-help">
        销售流程中的每一步都需要在此页中确认(例如：订单标记为“已发货”)。
      </p>
    </div>
  </div><!-- .page-intro -->

  <app-orders type="sell"></app-orders>
</div><!-- "Orders" tab -->
