<!-- TODO: dynamically add `with-top-notification` class when message is shown (new release / alpha warning etc.): -->
<mat-sidenav-container fullscreen [ngClass]="{'with-top-notification': showAnnouncements}">
  <mat-sidenav #sidenav mode="side" opened="true" disableClose="true" class="sidebar">

    <div class="logo">
      <img src="./assets/vircle-logo{{testnet ? '-testnet' : ''}}.svg" alt=" 维公链">
    </div>

    <mat-divider></mat-divider>


    <div class="menu-links">

      <mat-content class="sidebar-section">
        <mat-list class="sidebar-item-group">
          <a class="sidebar-item-link"
            routerLinkActive="active" routerLink="/wallet/overview">
            <mat-list-item class="sidebar-item">
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-overview"></mat-icon>
              <span class="text">概览</span>
            </mat-list-item>
          </a>
        </mat-list><!-- .sidebar-item-group -->
      </mat-content><!-- .sidebar-section -->

      <mat-content class="sidebar-section" *ngIf="walletInitialized">
        <mat-accordion [multi]="'multi'">
          <mat-expansion-panel #panel2 expanded="true" class="no-padding arrow-colored">
            <mat-expansion-panel-header>商城</mat-expansion-panel-header>
            <mat-content>
              <mat-list class="sidebar-item-group">

                <a class="sidebar-item-link"
                  routerLinkActive="active" [routerLink]="'/market/overview'">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon" fontSet="partIcon"
                      fontIcon="part-listings"></mat-icon>
                    <span class="text">市场</span>
                  </mat-list-item>
                </a>

                <a class="sidebar-item-link"
                  routerLinkActive="active" [routerLink]="'/market/buy'">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon" fontSet="partIcon"
                      fontIcon="part-bag-buy"></mat-icon>
                    <span class="text">购物</span>
                    <app-order-count [type]="'buy'" class="tag" matTooltip="关注您的购物订单" matTooltipPosition="after"></app-order-count>
                  </mat-list-item>
                </a>

                <a class="sidebar-item-link"
                  routerLinkActive="active" [routerLink]="'/market/sell'">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon" fontSet="partIcon"
                      fontIcon="part-bag-sell"></mat-icon>
                    <span class="text">销售</span>
                    <app-order-count [type]="'sell'" class="tag" matTooltip="关注您的销售订单" matTooltipPosition="after"></app-order-count>
                  </mat-list-item>
                </a>

              </mat-list><!-- .sidebar-item-group -->
            </mat-content>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-content><!-- .sidebar-section -->

      <mat-content class="sidebar-section" *ngIf="walletInitialized">
        <mat-accordion [multi]="'multi'">
          <mat-expansion-panel #panel1 expanded="true" class="no-padding arrow-colored">
            <mat-expansion-panel-header>您的钱包</mat-expansion-panel-header>
            <mat-content>
              <mat-list class="sidebar-item-group">

                <a class="sidebar-item-link"
                  routerLinkActive="active" [routerLink]="'/wallet/send'">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon" fontSet="partIcon"
                      fontIcon="part-send"></mat-icon>
                    <span class="text">付款</span>
                  </mat-list-item>
                </a>

                <a class="sidebar-item-link"
                  routerLinkActive="active" [routerLink]="'/wallet/receive'">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon" fontSet="partIcon"
                      fontIcon="part-receive"></mat-icon>
                    <span class="text">收款</span>
                  </mat-list-item>
                </a>

                <a class="sidebar-item-link"
                  routerLinkActive="active" [routerLink]="'/wallet/history'">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon"
                      fontSet="partIcon" fontIcon="part-date"></mat-icon>
                    <span class="text">历史交易</span>
                  </mat-list-item>
                </a>

                <a class="sidebar-item-link"
                  routerLinkActive="active" [routerLink]="'/wallet/address-book'">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon" fontSet="partIcon"
                      fontIcon="part-people"></mat-icon>
                    <span class="text">地址簿</span>
                  </mat-list-item>
                </a>

              </mat-list><!-- .sidebar-item-group -->
            </mat-content>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-content><!-- .sidebar-section -->

      <mat-content class="sidebar-section" *ngIf="walletInitialized === false">
        <mat-accordion [multi]="'multi'">
          <mat-expansion-panel #panel1 expanded="true" class="no-padding arrow-colored">
            <mat-expansion-panel-header>Wallet</mat-expansion-panel-header>
            <mat-content>
              <mat-list class="sidebar-item-group">

                <a class="sidebar-item-link"
                  routerLinkActive="active" href="javascript:void(0)"
                  (click)="createWallet()">
                  <mat-list-item class="sidebar-item">
                    <mat-icon class="icon" fontSet="partIcon"
                      fontIcon="part-add-account"></mat-icon>
                    <span class="text">新钱包</span>
                  </mat-list-item>
                </a>

              </mat-list><!-- .sidebar-item-group -->
            </mat-content>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-content><!-- .sidebar-section -->

      <mat-content class="sidebar-section" *ngIf="walletInitialized">
        <mat-list class="sidebar-item-group">
          <a class="sidebar-item-link"
            routerLinkActive="active" routerLink="/wallet/proposals">
            <mat-list-item class="sidebar-item">
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-notification-speaker"></mat-icon>
              <span class="text">提案</span>
              <app-count-badge class="tag" [count]="proposalsNotificationsService?.proposalsCountRequiredVoteAction"></app-count-badge>
            </mat-list-item>
          </a>
        </mat-list><!-- .sidebar-item-group -->
      </mat-content><!-- .sidebar-section -->

      <!--mat-content class="sidebar-section">
        <mat-list class="sidebar-item-group">
          <a class="sidebar-item-link" routerLinkActive="active" routerLink="/wallet/settings">
            <mat-list-item class="sidebar-item">
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cog"></mat-icon>
              <span class="text">设置</span>
            </mat-list-item>
          </a>
        </mat-list>
      </mat-content-->

      <!--mat-content class="sidebar-section">
        <mat-list class="sidebar-item-group">
          <a class="sidebar-item-link" routerLinkActive="active" routerLink="/wallet/help">
            <mat-list-item class="sidebar-item">
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-question"></mat-icon>
              <span class="text">帮助 &amp; 支持</span>
            </mat-list-item>
          </a>
        </mat-list>
      </mat-content-->
    </div><!-- .menu-links -->


    <footer class="footer">

      <!-- Errors & Notifications -->
      <mat-content class="errors-notifications">
        <mat-list class="notification sidebar-item-group">

          <mat-list-item class="message sidebar-item" *ngIf="!daemonRunning">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-console"></mat-icon>
            <span class="text"><strong>正在连接</strong>...</span>
          </mat-list-item>

          <mat-list-item class="error sidebar-item" *ngIf="daemonError != undefined && daemonError.error">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-alert"></mat-icon>

            <!-- TODO: better handling of errors / mix with modules/rpc/rpc.js -->
            <div *ngIf="daemonError.error.status">
              <span *ngIf="daemonError.error.status == 401" class="text">
                <strong>RPC 连接失败，</strong>请检查！
              </span>
              <span *ngIf="daemonError.error.status == 502" class="text">
                <strong>等待</strong> 初始化...
              </span>
            </div>

            <div *ngIf="daemonError.error.code">
              <span class="text">
                {{ daemonError.error.message }}
              </span>
            </div>
          </mat-list-item>

          <mat-list-item class="error sidebar-item" *ngIf="walletInitialized === false && daemonRunning">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-error"></mat-icon>
            <span class="text"><strong>没有钱包</strong> &ndash; 请先创建或恢复钱包</span>
          </mat-list-item>

          <mat-list-item class="info sidebar-item" *ngIf="unlocked_until > 0">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-lock-open"></mat-icon>
            <span class="text"
              matTooltip="5分钟后，钱包会自动锁定"
              matTooltipPosition="above"><strong>钱包解锁</strong> for {{ time }}</span>
          </mat-list-item>

        </mat-list>
      </mat-content>
      <app-version [daemonVersion]="daemonVersion"></app-version>

      <!-- Sync progress -->
      <app-percentage-bar #progress (click)="syncScreen()"></app-percentage-bar>

    </footer><!-- .pin-to-bottom -->

  </mat-sidenav><!-- .sidebar -->



  <!-- ======= Page Header ======= -->

  <!-- info/warning notification -->
  <app-announcement-notification *ngIf="showAnnouncements"></app-announcement-notification>

  <mat-toolbar class="header-main" fxLayout fxLayoutAlign="space-between center">

    <div class="left" fxFlex="1 1 40%">
      <button mat-button class="menu-toggle" (click)="sidenav.toggle()" fxHide>
        <mat-icon fontSet="partIcon" fontIcon="part-hamburger"></mat-icon>
      </button>
      <div class="title">
        {{ title }}
      </div>
    </div><!-- .left -->
    <div class="right" fxFlex="1 1 60%">
      <app-cart></app-cart>
      <app-status></app-status>
    </div><!-- .right -->

  </mat-toolbar><!-- .header-main -->

  <router-outlet></router-outlet>

</mat-sidenav-container>
