<div mat-dialog-title class="title">同步网络</div>


<mat-dialog-content class="modal-content">
  <mat-spinner *ngIf="!syncPercentage" class="sync-spinner"></mat-spinner>

  <p>
    您的钱包与维公链网络建立连接，并正在同步过程中，在此期间，您的交易和资金都是过期的，不是最新的。
  </p>
  <p class="info">
    同步网络期间，支付不可用
  </p>
  <p class="widget-help">
    您可以安全地关闭此窗口，并继续在后台同步或等待同步完成后，此窗口将自动关闭。
  </p>
  <p *ngIf="nPeers < 1" class="warning">
    警告：没有节点连接，请检查您的互联网连接
  </p>

  <div class="subtitle">最新区块时间</div>
  <table class="sync-progress">
    <tr>
      <th>已同步区块数</th>
      <td>{{ remainder }}</td>
    </tr>
    <tr>
      <th>预计剩余时间</th>
      <td>{{ estimatedTimeLeft }}</td>
    </tr>
    <tr>
      <th>最新区块时间</th>
      <td>{{ lastBlockTime }}</td>
    </tr>
  </table>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    关闭 & 在后台同步
  </button>
</mat-dialog-actions>
