<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cart"></mat-icon>
          我的购物车
          <!-- TODO? add current number of items in cart: -->
          <!--span class="tag to-do">2</span-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger"></mat-icon>
          我的订单
          <!--app-order-count [type]="'buy'" class="tag"></app-order-count-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart-outline"></mat-icon>
          我的收藏
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<!-- =========== CART =========== -->

<div class="your-cart with-tab-bar" *ngIf="tabLabels[selectedTab] == 'cart'">
  <app-checkout-process (onOrderPlaced)="changeTab($event)"></app-checkout-process>
</div><!-- "Your cart" tab -->


<!-- =========== ORDERS =========== -->

<div class="container-block with-tab-bar" *ngIf="tabLabels[selectedTab] == 'orders'">

  <div class="page-intro">
    <h1>购物订单</h1>
    <div class="content">
      <p>
	在本页中，您可以管理您正在从市场上的其他供应商购买的订单。
      </p>
      <p class="widget-help">
        采购过程中的每一步都需要您在本页中确认(即将订单标记为“已交付”)。
      </p>
    </div>
  </div><!-- .page-intro -->
  
  <app-orders type="buy"></app-orders>
</div><!-- "Orders" tab -->


<!-- =========== FAVORITES =========== -->

<div class="favourites container-block with-tab-bar"
     *ngIf="tabLabels[selectedTab] == 'favourites'">

  <div class="page-intro">
    <h1>你的收藏</h1>
    <div class="content">
      <p>
	保存您喜欢的商品，以便稍后方便地访问它们。
      </p>
      <p class="widget-help">
      	注意，市场列表的生命周期是有限的(它们在一段时间后过期)，所以一定要经常查看这里，因为它们可能不再在市场上可用。
      </p>
    </div>
  </div><!-- .page-intro -->

  <div class="no-results" *ngIf="favorites === undefined || favorites?.length == 0">
    <p>
      你还尚无选择任何商品
    </p>
    <p class="widget-help">
      如果想加入收藏夹，请点击 <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart-outline-add"></mat-icon> icon
    </p>
  </div>

  <div *ngIf="favorites !== undefined && favorites.length != 0" class="grid-container">
    <ng-container *ngFor="let favorite of favorites">

      <mat-card class="listing">
        <app-listing-item [listing]="favorite"></app-listing-item>
      </mat-card>

    </ng-container>
  </div>

</div><!-- "Favourites" tab -->
