<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-notification-speaker"></mat-icon>
          当前的提案
        </ng-template>
      </mat-tab>
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-rocket"></mat-icon>
          计划的提案
        </ng-template>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-document"></mat-icon>
          过去的提案
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<div class="container-block with-tab-bar">

  <div class="page-intro">
    <h1>社区提案</h1>
    <div class="content">
      <p>
	作为维公链分散治理机制的一部分，您可以提交和投票任何与维公链相关的提案。<br>
	提案一旦提交，每个维公币的持有者都可以投票表决。
      </p>
      <p class="widget-help">
	任何人都可以以公平的方式提交和表决提案。你的选票比重等于你所拥有的维公币数量。        
      </p>
    </div>
  </div><!-- .page-intro -->

  <div class="filter">

    <div class="new-proposal">
      <button mat-raised-button color="primary" class="full-width" (click)="addProposal()"
              matTooltip="增加新的提案" matTooltipPosition="above">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        提交新提案
      </button>
    </div>

    <!-- .search-sorting -->
    <!-- <div class="section search-sorting to-do">
      <div class="subtitle">查找 & 排序</div>
      <mat-card class="filter-card">

        <mat-form-field class="icon-input search-address">
          <input matInput type="text" [(ngModel)]="query" [ngModelOptions]="{standalone: true}"
                placeholder="查找提案" (keyup.escape)="query = ''">
          <mat-icon *ngIf="query" (click)="query=''" fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
          <mat-icon *ngIf="!query" fontSet="partIcon" fontIcon="part-search"></mat-icon>
        </mat-form-field>

        <mat-form-field class="sort-by filter-input" floatPlaceholder="never">
          <mat-select placeholder="提案排序" [(ngModel)]="filters.sort" (change)="filter()">
            <mat-option *ngFor="let sorting of sortings" [value]="sorting.value">
              {{ sorting.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card>

      <div class="subtitle">Filter</div>
      <mat-card class="filter-card">
        <mat-form-field class="filter-by filter-input" floatPlaceholder="never">
          <mat-select placeholder="所有提案" [(ngModel)]="filters.filter" (change)="filter()">
            <mat-option *ngFor="let filtering of filterings" [value]="filtering.value">
              {{ filtering.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="only-official">Show official proposals only</mat-checkbox>
      </mat-card>
    </div> -->
    <!-- .search-sorting -->

  </div><!-- .sidebar -->


  <div class="content with-filter">

    <div *ngIf="tabLabels[selectedTab] === 'active'">
      <app-proposal-details
        [proposal]="proposal"
        [selectedTab]="tabLabels[selectedTab]"
        [currentBlockCount]="currentBlockCount"
        *ngFor="let proposal of activeProposals;">
      </app-proposal-details>
      <!-- FIXME: implement no results -->
      <div class="no-results" *ngIf="activeProposals?.length == 0">
        <p>
          当前没有提案
        </p>
        <p class="widget-help">
          如果您有提案，可以提交到维公链上:<br>
          <button mat-button (click)="addProposal()">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
            提交新提案
          </button>
        </p>
      </div><!-- .no-results -->
    </div>


    <div *ngIf="tabLabels[selectedTab] === 'past'">
      <app-proposal-details
        [proposal]="proposal"
        [selectedTab]="tabLabels[selectedTab]"
        [currentBlockCount]="currentBlockCount"
        *ngFor="let proposal of pastProposals;">
      </app-proposal-details>

      <!-- FIXME: implement no results -->
      <div class="no-results" *ngIf="pastProposals?.length == 0">
        <p>
          没有任何提案
        </p>
        <p class="widget-help">
	  如果您有提案，可以提交到维公链上:<br>
          <button mat-button (click)="addProposal()">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
            提交新提案
          </button>
        </p>
      </div><!-- .no-results -->
    </div>

    <!--
      *ngIf="tabLabels[selectedTab] == 'active'"
      *ngIf="tabLabels[selectedTab] == 'past'"
    -->
  </div><!-- .content -->


  <mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="loading-bar"></mat-progress-bar>

</div><!-- .container-block -->
