<div *ngIf="type === 'place'">
  <div mat-dialog-title class="title">下订单</div>

  <mat-dialog-content class="modal-content">
    <p class="alpha warning" *ngIf="isPrerelease">
      <strong>警告：</strong> 您将在维公链P2P商城的开发版本中对真正的商品<strong>下订单</strong>。当卖方接受您的订单后，您将需要花费真正的VP币，可能会出现错误，您的付款可能会丢失，继续吗？
    </p>
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 120px">
        <img src="./assets/icons/SVG/market/place-bid.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          您确定要下订单吗？
        </p>
        <p class="widget-help">
          在支付此订单之前，您的订单需要被卖方接受。
          当它被接受后，您可以在"购物">"我的订单"中付款。
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      不，取消
    </button>
    <button mat-raised-button color="primary" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      是的，下订单
    </button>
  </mat-dialog-actions>
</div>



<div *ngIf="type === 'accept'">
  <div mat-dialog-title class="title">接受订单</div>

  <mat-dialog-content class="modal-content">
    <p class="alpha warning" *ngIf="isPrerelease">
      <strong>警告：</strong> 您将接受订单，并锁定真正的VP币(维公链P2P商城的开发版本)，可能会出现错误，您的付款可能会丢失，继续吗？如果接受订单后，您就必须在买方付款后发货给买方，完成订单 !
    </p>
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 120px">
        <img src="./assets/icons/SVG/market/accept-bid.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          您确定要接受此订单吗？
        </p>
        <p class="widget-help">
          在买方付款之前，您需要接受买方的订单。
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      不，取消
    </button>
    <button mat-raised-button color="primary" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      是的，接受订单
    </button>
  </mat-dialog-actions>
</div>



<div *ngIf="type === 'reject'">
  <div mat-dialog-title class="title">拒绝订单</div>

  <mat-dialog-content class="modal-content">
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 120px">
        <img src="./assets/icons/SVG/market/reject-bid.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          您确定要拒绝此订单吗？
        </p>
        <p class="widget-help">
          在买方付款之前，您需要接受买方的订单。<br>
          拒绝这个订单，买方将无法购买您的商品。
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      不，取消
    </button>
    <button mat-raised-button color="warn" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      是的，拒绝订单
    </button>
  </mat-dialog-actions>
</div>



<div *ngIf="type === 'escrow'">
  <div mat-dialog-title class="title">确认订单交付</div>

  <mat-dialog-content class="modal-content">
    <p class="alpha warning" *ngIf="isPrerelease">
      <strong>警告：</strong>只有当您确实收到物品时，才能确认。一旦确认，托管资金将退还到各自的钱包。如果您确认收货，但没有收到物品，您就会受到损失!
    </p>
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 135px">
        <img src="./assets/icons/SVG/market/delivered.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          您确定收到了您的订单吗？
        </p>
        <p class="widget-help">
          确认成功交货将完成订单，并退还您的托管资金。
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      不，取消
    </button>
    <button mat-raised-button color="primary" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      是的，我收到了订单
    </button>
  </mat-dialog-actions>
</div>
