<div mat-dialog-title>选择商品公布期限</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <p class="lead">
    您希望将此商品公布多长时间?
  </p>

  <div class="row" fxLayout fxLayoutAlign="center center">
    <mat-form-field class="full-width" fxFlex="50%">
      <mat-select [(ngModel)]="expiration" (change)="loadTransactionFee()">
        <mat-option *ngFor="let expire of expiredList" [value]="expire.value">
          {{ expire.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="est-fee" fxFlex="50%">
      <span *ngIf="expiration && !txError">公布费用约为:
        <br>
      </span>
      <span *ngIf="expiration && !txError">{{ txFee }} VPC</span>
      <span class="small" *ngIf="expiration && txError"> {{ txError }}</span>
    </div>
  </div>
  <p class="widget-help">
    每次向市场上公布商品都有有效期限。这有助于防止垃圾邮件和过时的商品。公布费用与有效期限成比例。
  </p>
</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>
  <button [disabled]="!expiration || (txError.length > 0 )" mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    确认 &amp; 公布
  </button>
</mat-dialog-actions>
