<h2 mat-dialog-title>注销离线收益</h2>


<mat-dialog-content>
  <p class="lead">
    注销离线收益，您的资金将返回到您的钱包中。
  </p>
  <p class="warning">
    注销离线收益将产生 {{ utxos.txs.length }} 笔交易，需要手续费 <strong>{{ fee }} VCL</strong> 。
  </p>
  <p class="widget-help">
    注意：您无需注销离线收益。<br>
    如果您想要您的资产获取离线收益，您必须等待它们成熟（225块后）。
  </p>
</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="end center">

  <button mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>

  <button mat-raised-button color="warn" (click)="revert()">
    <mat-icon fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
    注销离线收益
  </button>

</mat-dialog-actions>
