<div class="staking-info section">
  <header>
    <div class="subtitle">收益状态</div>
  </header>

  <mat-card>
    <table class="staking-overview" cellspacing="0">
      <tr>
        <th>下一次收益</th>
        <td>~{{ expectedtime.getShortReadableDuration() }}</td>
      </tr>
      <tr>
        <th>您的收益权重</th>
        <td>{{ ownPercentageOfActiveStakingSupply.getIntegerPart() }}.<small>{{ ownPercentageOfActiveStakingSupply.getFractionalPart() }}</small>&nbsp;%</td>
      </tr>
      <tr>
        <th>收益率/年</th>
        <td>{{ curStakeReward.getIntegerPart() }}&nbsp;%</td>
      </tr>
    </table>
  </mat-card>

</div><!-- .staking-info -->
