<div mat-dialog-title class="title">解锁您的钱包</div>

<mat-dialog-content class="modal-content">
  <p>
    请输入您的密码，解锁您的钱包
  </p>
  <app-password
    label="输入您的密码"
    buttonText="解锁钱包"
    (unlockEmitter)="unlock($event)"
    [unlockTimeout]="timeout"
    [showStakeOnly]="showStakeOnly"
    [stakeOnly]="stakeOnly"
    [emitUnlock]="true">
  </app-password>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>
  <!-- TODO: can we move the main action button here? (in this case "unlock wallet" button) -->
  <!--button mat-raised-button color="primary">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Unlock wallet
  </button-->
</mat-dialog-actions>
