<div mat-dialog-title class="title">维公链商城免责声明</div>

<mat-dialog-content class="modal-content">
  <p class="lead">
    <strong>警告!</strong>现在维公链商城运行在主链上，它使用您的真正的资金，而不是测试链资金来实现交易。
  </p>
  <p class="warning">
    它目前不包含所有的安全、隐私和官方发布的实用功能，并且可能仍然会出现无法预料的bug或稳定性问题，导致个人资金的永久性损失。
  </p>
  <p>
    基于这些原因，开放市场应该只用于测试目的。您应该充分了解其风险和当前的局限性，我们对造成的任何财务损失或任何形式的隐私和安全违约担负责任。
  </p>
  <h2>请记住</h2>
  <ul>
    <li>为了减少这些风险，可以考虑创建一个带有少量资金的新钱包来测试</li>
    <li>所有的市场交易都是在主链上，买家是用用真实的资金付款的，卖家应该发货！</li>
    <li>商城还没有100%的开发完成</li>
    <li>Bug可能存在</li>
    <li>您的一些资金可能会丢失</li>
  </ul>
  <p class="warning">
    <strong>在主链上使用维公链商城，您了解所有这些风险并同意。</strong>
  </p>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close color="warn">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    我了解
  </button>
</mat-dialog-actions>
