<div mat-dialog-title class="title">订单已发货--确认</div>


<mat-dialog-content class="modal-content" fxLayout>

  <div class="image" fxFlex="0 0 120px">
    <img src="./assets/icons/SVG/market/shipped.svg">
  </div>

  <div class="text" fxFlex="1 1 350px">
    <p>
      通过点击<kbd>"订单已发货"</kbd>按钮，您确认已经将订单发送给买方。
    </p>
    <p>
      建议输入以下跟踪信息<br>(如果可用)：
    </p>

    <mat-form-field class="full-width" floatPlaceholder="never">
      <input matInput type="text" placeholder="附加的运输信息(如运单号码)" [(ngModel)]="trackingNumber">
    </mat-form-field>

    <p class="widget-help">
      请注意，如果您没有发货，请不要确认，否则将会失去您的托管资金。
    </p>
  </div>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button color="warn" mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>
  <button mat-raised-button color="primary" (click)="placeOrder()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    订单已发货
  </button>
</mat-dialog-actions>
