<!-- "Add to cart" button in Listings overview -->
<button class="to-cart small" mat-button color="primary" *ngIf="!listing?.isMine && !bidded && detail == false" fxFlex (click)="addToCart(listing?.id)">
    添加到购物车
</button>

<!-- "Add to cart" button in Listing's detail -->
<button class="to-cart" mat-raised-button color="primary" *ngIf="!listing?.isMine && !bidded && detail == true" fxFlex (click)="addToCart(listing?.id)">
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cart"></mat-icon>
    添加到购物车
</button>
