<!--div mat-dialog-title>
  {{data?.listing?.title}}
  <span class="category">
    in {{data?.listing?.category.name}}
  </span>
</div-->

<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">
  <div class="product-summary" fxLayout="row">

    <div class="product-gallery" fxFlex="1 1 450px">
      <div class="gallery-carousel">
        <img
          *ngIf="data?.listing?.imageCollection?.imageItems?.length === 0"
          [src]="data?.listing?.imageCollection?.featuredImage?.thumbnail">

        <gallery
          *ngIf="data?.listing?.imageCollection?.imageItems?.length"
          gallerize
          [gestures]="false"
          [style.height.px]="380"
          [style.width.px]="450"
          [thumbWidth]= "80"
          [thumbHeight]="80"
          [thumb]="data?.listing?.imageCollection?.imageItems?.length > 1"
          [items]="data?.listing?.imageCollection?.imageItems">
        </gallery>
      </div>
    </div><!-- .product-gallery -->

    <div class="product-info" fxFlex="1 1 100%">
      <h1>{{ data?.listing?.title }}</h1>

      <div class="pricing">
        <div class="item price">
          <div class="title">价格</div>
          <div class="value part">
            <span class="big">{{ data?.listing?.basePrice.getIntegerPart() }}</span><span class="big">{{ data?.listing?.basePrice.dot() }}</span><span class="small">{{ data?.listing?.basePrice.getFractionalPart() }}</span>
            <span class="currency">VP</span>
          </div>
          <div class="value fiat">
            <span class="fiat">~ {{price?.usd}} xx EUR</span>
          </div>
        </div>
      </div><!-- .pricing -->

      <p class="summary description">
        {{ data?.listing?.shortDescription }}
      </p>

      <table class="meta">
        <tr class="expires-soon" *ngIf="data?.listing?.isAboutToExpire">
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-circle-alert"></mat-icon>
            公布时间还剩
          </th>
          <td class="value">
            {{ data?.listing?.expireIn }}
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-truck"></mat-icon>
            邮费
          </th>
          <td class="value">
            {{ data?.listing?.domesticShippingPrice.getAmountAsString() }} &ndash; {{ data?.listing?.internationalShippingPrice.getAmountAsString() }} <small>VP</small>
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-label"></mat-icon>
            分类
          </th>
          <td class="value">
            {{ data?.listing?.category.name }}
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-globe"></mat-icon>
            销售地
          </th>
          <td class="value">
            {{ countryListService?.getCountryByRegion(data?.listing?.country)?.name }}
            ({{ data?.listing?.country }})
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-date"></mat-icon>
            上架/过期时间
          </th>
          <td class="value">
            {{ data?.listing?.createdAt }} / {{ data?.listing?.expiredTime }}
          </td>
        </tr>
      </table>

    </div><!-- .product-info -->
  </div><!-- .product-summary -->

  <div class="product-details">
    <mat-tab-group class="listing-tabs" (selectChange)="changeTab($event.index)">
      <mat-tab label="祥情"></mat-tab>
      <mat-tab label="发货/托管"></mat-tab>
      <mat-tab label="评论" *ngIf="!data.buyPage"></mat-tab>
    </mat-tab-group><!-- .listing-tabs -->

    <div class="tab-content details" *ngIf="tabLabels[selectedTab] == 'details'">
      <p class="detailed description">{{ data?.listing?.longDescription }}</p>
    </div><!-- .tab-content.details -->

    <div class="tab-content shipping" *ngIf="tabLabels[selectedTab] == 'shipping'">
      <table class="shipping-escrow">
        <thead>
          <tr>
            <th>发货地</th>
            <th>邮费</th>
            <th>托管费</th>
            <th>总费用</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              {{ countryListService?.getCountryByRegion(data?.listing?.country)?.name }}
              <small>邮寄</small>
            </th>
            <!-- domestic shipping -->
            <td>
              <span class="part price">
                <strong>{{ data?.listing?.domesticShippingPrice.getAmountAsString() }}</strong> <small class="currency">VP</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
            <!-- domestic escrow -->
            <td>
              <span class="part price">
                <strong>{{ data?.listing?.escrowPriceDomestic?.getAmountAsString() }}</strong> <small class="currency">VP</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
            <!-- domestic total -->
            <td>
              <span class="part price">
                <strong>{{data?.listing?.totalAmountDomestic?.getAmountAsString()}}</strong> <small class="currency">VP</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
          </tr>
          <tr>
            <th>
              全球
              <small>邮寄</small>
            </th>
            <!-- international shipping -->
            <td>
              <span class="part price">
                <strong>{{ data?.listing?.internationalShippingPrice.getAmountAsString() }}</strong> <small class="currency">VP</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
            <!-- international escrow -->
            <td>
              <span class="part price">
                <strong>{{ data?.listing?.escrowPriceInternational?.getAmountAsString() }}</strong> <small class="currency">VP</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
            <!-- international total -->
            <td>
              <span class="part price">
                <strong>{{data?.listing?.totalAmountInternaltional?.getAmountAsString()}}</strong> <small class="currency">VP</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
          </tr>
          <tr class="help-text">
            <td></td>
            <td>
              <small>每件商品的邮费</small>
            </td>
            <td>
              <small>保证金(订单金额的100%);订单完成并交付后，我们将退款。</small>
            </td>
            <td>
              <small>此项交易所需资金总额(包括可退还的托管)</small>
            </td>
          </tr>
        </tbody>
      </table><!-- .shipping-escrow -->
    </div><!-- .tab-content.shipping-->

    <div class="tab-content comments" *ngIf="tabLabels[selectedTab] == 'comments'">
      <div class="no-results">
        评论（不久的将来）
      </div>
    </div>
  </div><!-- .product-details -->

</div><!-- .dialog-content -->


<mat-dialog-actions fxLayoutAlign="space-between center" *ngIf="!data.buyPage">

  <div class="left">

    <app-report *ngIf="!data?.listing?.isFlagged && !data?.listing?.isMine" [listing]="data?.listing" [from]="'preview'"></app-report>

    <div class="reporting" *ngIf="data?.listing?.isFlagged">
      <!-- Reported, not voted yet by user -->
      <div *ngIf="!data?.listing?.VoteDetails">
        <span class="title"><strong>商品被标记</strong>为差, 请投票：</span>
        <button mat-button class="small" color="primary" (click)="voteForListing(data?.listing?.keepItem)" matTooltip="该产品应该留在市场上">
          <mat-icon fontSet="partIcon" fontIcon="part-thumb-up"></mat-icon>
        </button>
        <button mat-button class="small" color="warn" (click)="voteForListing(data?.listing?.removeItem)" matTooltip="该产品应从市场上撤下">
          <mat-icon fontSet="partIcon" fontIcon="part-thumb-down"></mat-icon>
        </button>
      </div>
      <!-- Reported & voted already -->
      <div *ngIf="data?.listing?.VoteDetails" class="voted">
        <p *ngIf="data?.listing?.VoteDetails?.isReported">
          <mat-icon fontSet="partIcon" fontIcon="part-flag" class="voted-icon"></mat-icon>
          感谢您将此商品标记为差。
        </p>
        <p *ngIf="!data?.listing?.VoteDetails?.isReported">
          <mat-icon fontSet="partIcon" fontIcon="part-check-in-a-box" class="voted-icon"></mat-icon>
          感谢您将此商品标记为好。
        </p>
      </div>
    </div><!-- .reporting -->

  </div>

  <div class="right" fxLayout fxLayoutAlign="end center">
    <app-favorite [listing]="data?.listing" [detail]="true"></app-favorite>
    <app-add-to-cart [listing]="data?.listing" [detail]="true" (onAdded)="dialogClose()"></app-add-to-cart>

    <!-- if mine, show message instead of "add to cart" button -->
    <button mat-button disabled *ngIf="data?.listing?.isMine">
      <mat-icon fontSet="partIcon" fontIcon="part-circle-info"></mat-icon>
      这是您自己销售的商品
    </button>
  </div>

</mat-dialog-actions>
