<h2 mat-dialog-title>Cold Stake Zap</h2>


<mat-dialog-content>

  <p class="lead">
    快速激活可以将离线收益的进程快速推进到100%
  </p>
  <p class="warning">
    快速激活将在处理过程中花费<strong>{{fee}} VP</strong>的手续费 。
  </p>
  <p>
    需要注意的是，快速激活会降低您的财务隐私，因为它会把您所有资金捆绑在一起做成一笔大交易。
    建议快速激活您资金的剩余部分(最后10%)，那些需要很长的处理时间。
  </p>
  <p class="widget-help">
    如果您想要您的资产获取离线收益，您必须等待它们成熟（225块后）。
  </p>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="end center">

  <button mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>

  <button mat-raised-button color="warn" (click)="zap()" [disabled]="!fee">
    <mat-icon fontSet="partIcon" fontIcon="part-lightning"></mat-icon>
    快速激活
  </button>

</mat-dialog-actions>
