<div mat-dialog-title>投票--确认</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">
  <div class="tx-confirmation">

    <div class="tx-info">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-person-check"></mat-icon>
      <div class="title">您正在投票</div>
      <p class="widget-help">
        您在对一项提案投票
      </p>
    </div>

    <div class="proposal-name">
      {{ data?.title }}
    </div>
    
    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>
    
    <div class="vote-choice">
      {{ data?.selectedOption?.description }}
    </div>

  </div><!-- TX confirmation -->
</div><!-- .dialog-content -->


<mat-dialog-actions fxLayoutAlign="space-between center">

  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>

  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    确认 &amp; 投票
  </button>

</mat-dialog-actions>
