<div mat-dialog-title *ngIf="!password" class="title">钱包--加密</div>
<div mat-dialog-title *ngIf="password" class="title">密码--确认</div>

<button class="small-close-button" mat-dialog-close>
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>


<mat-dialog-content class="modal-content">

  <div *ngIf="!password">
    <p>
      请选择密码保护您的钱包
    </p>
    <p class="widget-help">
      钱包加密保护您的数字资产(例如，如果有人偷了您的电脑)。<br>
      它只能够保护当前设备上的钱包。
    </p>
    <p class="warning">
      千万不要忘记这个密码，否则将会失去您的数字资产！
    </p>
  </div><!-- !password -->

  <!-- @TODO: Do we really need a confirmation for the password with "show password" option? -->
  <div *ngIf="password">
    <p>
      请再次输入密码
    </p>
    <p class="warning">
      千万不要忘记这个密码，否则将会失去您的数字资产！
    </p>
  </div><!-- !password -->

  <app-password
    #passwordElement
    buttonText="加密钱包"
    (passwordEmitter)="encryptwallet($event)"
    [unlockTimeout]="0"
    [showStakeOnly]="false"
    [emitPassword]="true">
  </app-password>

</mat-dialog-content>


<!--mat-dialog-actions fxLayoutAlign="end center">
  <button *ngIf="password" type="button" mat-button (click)="clearPassword()">
    <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
    Back
  </button>
</mat-dialog-actions-->
