<!-- STEP 0: Choose action -->
<ng-template [ngIf]="step === 0">

  <div mat-dialog-title class="title">欢迎使用维公链桌面</div>
  <mat-dialog-content class="modal-content">
    <p>
      维公链桌面是一个功能丰富的客户端，与维公链网络进行交互。<br>
    </p>
    <p class="info">
      Visit <a href="https://particl.io" target="_blank" tabindex="-1">particl.io</a> official site for more info, <a href="https://particl.news" target="_blank" tabindex="-1">particl.news</a> for latest news and <a href="https://particl.wiki" target="_blank" tabindex="-1">particl.wiki</a> if you need any help
    </p>
    <div class="subtitle">创建/恢复钱包</div>
    <p>
      为了连接到维公链，您需要一个钱包。如果您是第一次使用，创建一个新的钱包；如果您已经有一个钱包，恢复这个钱包(使用您的恢复密码)。
    </p>
    <p class="widget-help" *ngIf="!isCrypted">
      建议在创建或恢复钱包之前对钱包进行加密。
    </p>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="space-between center">
    <div class="left">
      <button *ngIf="!isCrypted" mat-button color="basic" (click)="initialize(0);">
        <mat-icon fontSet="partIcon" fontIcon="part-lock"></mat-icon>
        加密钱包
      </button>
    </div>
    <div class="right" fxLayoutAlign="end center">
      <button mat-button color="primary" (click)="initialize(2);" matTooltip="您已经有一个钱包，想恢复这个钱包">
        <mat-icon fontSet="partIcon" fontIcon="part-lock-open"></mat-icon>
        恢复钱包
      </button>
      <button mat-raised-button color="primary" (click)="initialize(1);" matTooltip="如果您是第一次使用，创建一个新的钱包">
        <mat-icon fontSet="partIcon" fontIcon="part-add-account"></mat-icon>
        创建新钱包
      </button>
    </div>
  </mat-dialog-actions>

</ng-template><!-- step 0 -->


<!-- STEP 1: Create/restore wallet -->
<ng-template [ngIf]="step === 1">
  <form #nameForm="ngForm" (ngSubmit)="nextStep()">

    <div mat-dialog-title class="title">钱包名称</div>
    <mat-dialog-content class="modal-content">
      <p>
        为您的钱包选择一个名称(例如:个人钱包、商店收入、储蓄等等)
      </p>
      <p class="warning" *ngIf="validation.errors && validation.dirty"
      [@slideDown]>
        <span [hidden]="!validation.errors.required">
          钱包名称是必须的
        </span>
      </p><!-- validation errors -->
      <mat-form-field>
        <input matInput #nameField #validation="ngModel" [(ngModel)]="name" name="name" placeholder="钱包名称" required maxlength="32" [class.verify-error]="validation.errors && (validation.dirty || validation.touched)"/>
      </mat-form-field>      
    </mat-dialog-content>
    
    <mat-dialog-actions fxLayoutAlign="space-between center">
      <button mat-button (click)="prevStep()">
        <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
        回退
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!nameForm.form.valid">
        <mat-icon fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
        继续
      </button>
    </mat-dialog-actions>
    
  </form>
</ng-template><!-- step 1 -->


<!-- STEP 2-4 (Create): Recovery Phrase -->
<ng-template [ngIf]="[2,3,4].indexOf(step) != -1 && !isRestore">

  <!-- STEP 2: Recovery Password -->
  <div *ngIf="step === 2">
    <div mat-dialog-title class="title">选择恢复密码 <small>（可选）</small></div>
    <mat-dialog-content class="modal-content">
      <p>
        您可以通过设置恢复密码进一步增强钱包保护。
      </p>
      <p class="warning">
        如果您设置了一个恢复密码并忘记了它，您将丢失您的数字资产!
      </p>
      <!-- Password -->
      <app-password
        #passwordElement
        label="恢复密码 （可选）"
        [emitPassword]="true"
        [showPass]="toggleShowPass"
        (passwordEmitter)="passwordFromEmitter($event)"
        (showPasswordToggle)="showPasswordToggle($event)"
        [showStakeOnly]="false">
      </app-password>
      <!-- Password comfirmation -->
      <app-password
        #passwordElementVerify
        label="验证密码"
        [emitPassword]="true"
        [showPass]="toggleShowPass"
        [showPassword]="true"
        (passwordEmitter)="passwordFromEmitter($event, true)"
        [showStakeOnly]="false">
      </app-password>
      <p class="widget-help">
        注意，您可以安全地跳过这一步，但建议您选择一个恢复密码，因为它可以使您的数字资产更安全。
      </p>
    </mat-dialog-content>
  </div><!-- step == 2 -->


  <!-- STEP 3: Recovery Passphrase -->
  <div *ngIf="step === 3">
    <div mat-dialog-title class="title">Recovery Phrase backup</div>
    <mat-dialog-content class="modal-content">
      <p>
        恢复短语是您数字资产的备用钥匙。有了它，你可以很容易地恢复您的钱包在另一台电脑上。
      </p>
      <p class="warning">
        通过填入遗漏的单词来确认您已经备份了恢复短语！
      </p>
    </mat-dialog-content>
  </div><!-- step == 3 -->


  <!-- STEP 4: Recovery Password -->
  <div *ngIf="step === 4">
    <div mat-dialog-title class="title">Enter your Recovery Phrase</div>
    <mat-dialog-content class="modal-content">
      <p>
        :
      </p>
    </mat-dialog-content>
  </div><!-- step == 4 -->


  <ng-template [ngIf]="[3,4].indexOf(step) != -1">
    <app-passphrase
      #passphraseComponent
      [readOnly]="step === 3"
      [words]="words"
      [partialDisable]="step === 4"
      (wordsEmitter)="wordsFromEmitter($event)"
      [generate]="true">
    </app-passphrase>
  </ng-template>

  <p *ngIf="!!errorString" [@slideDown] class="warning">
    {{ errorString }}
  </p>
  <mat-dialog-actions fxLayoutAlign="space-between center">
    <button mat-button (click)="prevStep()">
      <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
      回退
    </button>
    <button mat-raised-button color="primary" (click)="nextStep()"> <!-- TODO: Move sendPassword to .ts   -->
      <mat-icon fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
      继续
    </button>
  </mat-dialog-actions>

</ng-template><!-- Step 2,3 & 4 -->


<!-- STEP 2-4 (Restore) -->
<ng-template [ngIf]="step === 4 && isRestore">
  <div mat-dialog-title class="title">恢复存在的钱包</div>
  <mat-dialog-content class="modal-content">

    <div class="recovery-phrase">
      <app-passphrase
        #passphraseComponent
        [words]="words"
        (wordsEmitter)="wordsFromEmitter($event)"
        [generate]="false">
      </app-passphrase>
      <p *ngIf="!!errorString" [@slideDown] class="warning">
        {{ errorString }}
      </p>
    </div><!-- .recovery-phrase -->

    <div class="recovery-password">
      <div class="subtitle">恢复密码</div>
      <p>
        如果您在创建钱包时也设置了恢复密码，请在下面输入：
      </p>
      <app-password
        #passwordRestoreElement
        label="Recovery Password (optional)"
        [showStakeOnly]="false"
        [emitPassword]="true"
        (passwordEmitter)="passwordFromEmitter($event);nextStep()">
      </app-password>
    </div><!-- .recovery-password -->

  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="space-between center">
    <button mat-button (click)="prevStep();initialize(2)">
      <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
      回退
    </button>
    <button mat-raised-button color="primary" (click)="restoreWallet()" [disabled]="countWords(getCountOfWordsEntered())">
      <mat-icon fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
      继续
    </button>
  </mat-dialog-actions>

</ng-template><!-- Step 2,3 & 4 -->


<!-- STEP 5: Gratz -->
<ng-template [ngIf]="step === 5">
  <div mat-dialog-title class="title">您的钱包准备好了</div>
  <mat-dialog-content class="modal-content">
    <p>
      您的新钱包创建成功，并设置为默认钱包!
    </p>
    <p class="info">
      请确保您的恢复短语(如果您设置了它，请确保您的密码)被记录下来并存储在一个安全的位置!
    </p>
    <p>
      您现在可以安全地关闭此窗口并开始体验!
    </p>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="primary" mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      关闭
    </button>
  </mat-dialog-actions>
</ng-template>


<!-- STEP 6 -->
<ng-template [ngIf]="step === 6">
  <app-unlockwallet (unlockEmitter)="importMnemonicSeed($event)" [autoClose]="false">
  </app-unlockwallet>
</ng-template>
