<div mat-dialog-title class="title">列表/订单--删除</div>
<mat-dialog-content class="modal-content">
  <p>
    确定要删除吗?
  </p>
  <table class="info">
    <tr><th>名称</th><td><strong>{{templateToRemove?.title}}</strong></td></tr>
    <tr><th>类别</th><td>{{templateToRemove?.category?.name}}</td></tr>
    <tr><th>价格</th><td>{{templateToRemove?.basePrice?.getAmount()}}</td></tr>
  </table>
  <p class="widget-help">
    这将被完全删除，包括所有相关数据(如照片、描述等)，任何人都将不能够购买它。
  </p>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>
  <button mat-raised-button color="warn" (click)="remove()">
    <mat-icon fontSet="partIcon" fontIcon="part-circle-minus"></mat-icon>
    确定
  </button>
</mat-dialog-actions>
