<div class="cold-staking section">
  <header>
    <div class="subtitle">离线收益</div>
  </header>

  <mat-card *ngIf="_coldstake.walletInitialized !== true" class="staking-node inactive">
    <div class="title">离线收益节点</div>
    <div class="subtitle">等待钱包</div>
  </mat-card>

  <mat-card *ngIf="_coldstake.walletInitialized && _coldstake.coldStakingEnabled === undefined" class="staking-node inactive">
    <button mat-raised-button color="primary" (click)="openUnlockWalletModal()" matTooltip="解锁钱包，激活离线收益">
      <mat-icon fontSet="partIcon" fontIcon="part-lock"></mat-icon>
    </button>
    <div class="title">离线收益节点</div>
    <div class="subtitle">Unlock to check</div>
  </mat-card>

  <mat-card *ngIf="_coldstake.walletInitialized && !_coldstake.coldStakingEnabled" class="staking-node inactive">
    <button mat-raised-button color="primary" (click)="openColdStakeModal()" matTooltip="添加离线收益节点的地址">
      <mat-icon fontSet="partIcon" fontIcon="part-plus"></mat-icon>
    </button>
    <div class="title">离线收益节点</div>
    <div class="subtitle">注销</div>
  </mat-card>

  <p class="widget-help" *ngIf="_coldstake.walletInitialized && !_coldstake.coldStakingEnabled">
    离线收益允许您从一台机器上花钱，从另一台机器上获取收益，这大大增加了您资产的安全性。
  </p>

  <!-- Edit cold stake key, might be useful for later.
  <mat-card *ngIf="false" class="staking-node">
    <div class="title">
      Cold Staking Node <span class="status active">active</span>
    </div>
    <button class="mat-button secondary pull-left" (click)="openColdStakeModal()" matTooltip="Edit Cold Staking node key">
      <mat-icon fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
    </button>
  </mat-card> -->


  <!-- if cold staking is in progress & wa -->
  <mat-card *ngIf="_coldstake.coldStakingEnabled && (checkLockStatus() || _coldstake.coldstakeProgress === 100)" class="staking-node active">
    <div class="title">离线收益节点</div>
    <div class="subtitle in-progress">
      <span *ngIf="_coldstake.coldstakeProgress < 100">激活处理中</span>
      <span *ngIf="_coldstake.coldstakeProgress === 100">激活</span>
      <span class="progress">{{_coldstake.coldstakeProgress}}%</span>
    </div>
    <mat-progress-bar
      class="progress-bar"
      [color]="'primary'"
      [bufferValue]="_coldstake.coldstakeProgress"
      [mode]="'determinate'"
      [value]="_coldstake.coldstakeProgress">
    </mat-progress-bar>
    <!-- TODO: component ? -->
    <p class="buttons">
      <button mat-button class="small" color="primary" matTooltip="快速激活到100%" (click)="zap()" *ngIf="_coldstake.hotstake.txs.length">
        快速激活
      </button>
      <button mat-button class="small" color="warn" matTooltip="注销离线收益" (click)="revert()">
        注销
      </button>
    </p>
  </mat-card>
  <p class="widget-help" *ngIf="_coldstake.coldStakingEnabled">
    您的{{_coldstake.coldstakeProgress}}% 资金离线收益。
    只有当您的钱包是在线状态，且未锁定锁定时，激活过程才会继续。
  </p>

  <!-- if wallet is locked, & under < 100% progress -->
  <mat-card *ngIf=" _coldstake.coldStakingEnabled && _coldstake.coldstakeProgress < 100 && !checkLockStatus()" class="staking-node warning">
    <div class="title">离线收益节点</div>
    <div class="subtitle in-progress">
      <strong>暂停</strong> &ndash; 钱包解锁
      <span class="progress">{{_coldstake.coldstakeProgress}}%</span>
    </div>
    <mat-progress-bar
      class="progress-bar"
      [color]="'warn'"
      [bufferValue]="_coldstake.coldstakeProgress"
      [mode]="'determinate'"
      [value]="_coldstake.coldstakeProgress">
    </mat-progress-bar>
    <p class="widget-help">
      离线收益激活已暂停。请解锁您的钱包，才能继续这个过程。
      您的资金 {{_coldstake.coldstakeProgress}}% 已经激活离线收益，继续您的离线收益激活过程。
    </p>
    <!-- TODO: component ? -->
    <p class="buttons">
      <button mat-button class="small" color="primary"
        matTooltip="快速激活到100%"
        (click)="zap()"
        *ngIf="_coldstake.hotstake.txs.length">
        快速激活
        <!-- <span class="tag zap">{{ hotstaking.txs.length }}</span> -->
      </button>
      <button mat-button class="small" color="warn"
        matTooltip="注销离线收益"
        (click)="revert()"
        >
        注销
        <!-- <span class="tag cancel">{{ coldstaking.txs.length }}</span> -->
      </button>
    </p>
  </mat-card>


  <!-- if Cold staking is at 100% show Disable button etc.
  <mat-card *ngIf="????" class="staking-node">
    <div class="title">
      Cold Staking Node <span class="status inactive">active</span>
    </div>
    <button class="mat-raised-button mat-primary pull-left" (click)="??????" matTooltip="Disable Cold Staking">
      <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
    </button>
  </mat-card>
  <p class="widget-help">
    You can now turn of this wallet as cold staking is fully activated.
  </p-->


</div><!-- .cold-staking -->
