<div class="console-modal">
  <button class="small-close-button" (click)="close()">
    <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
  </button>

  <div mat-dialog-container>
    <mat-tab-group (selectChange)="selectTab($event.index)">
      <mat-tab label="主控制台">
        
      </mat-tab>
      <mat-tab label="市场控制台">
        
      </mat-tab>
    </mat-tab-group>
  </div>
  <div #debug class="console-modal-form" (scroll)="onScroll()">
    <div class="intro-text">
      <p class="console-info" *ngIf="activeTab !== 'market'">
        欢迎来到<strong> RPC </strong>主控制台<br>
        <!--Use up and down arrows to navigate history, and Ctrl-L to clear screen.-->
        使用<code> help </code>命令，查看帮助信息
      </p>
      <p class="console-info" *ngIf="activeTab === 'market'">
        欢迎来到<strong> RPC </strong>市场控制台<br>
        <!--Use up and down arrows to navigate history, and Ctrl-L to clear screen.-->
        使用<code> help </code>命令，查看帮助信息
      </p>
      <p class="warn-text">
        <strong>警告:</strong>在未完全理解命令之前，请不要使用此控制台。
      </p>
    </div>

    <div class="content-modal" [ngClass]="{'input': list.type === 1}" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start" *ngFor="let list of commandList">
      <div fxFlex="1 1 100%" class="command">
        <pre class="text-format" *ngIf="isJson(list.text)">{{ list.text | json }}</pre>
        <pre class="text-format" [ngClass]="{'warn-text': list.code === -1}" *ngIf="!isJson(list.text)">{{ list.text }}</pre>
      </div>
      <div fxFlex="0 0 55px" class="time" *ngIf="list.type === 1">
        {{ list.time }}
      </div>
    </div>
  </div>

  <div class="command-actions" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field fxFlex="1 1 100%" floatPlaceholder="never">
      <input matInput [(ngModel)]="command" placeholder="使用 help 命令，查看帮助信息" [appFocusTimeout]="true">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!command || !waitingForRPC" (click)="rpcCall()" fxFlex>
      <mat-icon fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
      发送
    </button>
  </div>
</div>
