<div class="address-table">

  <div class="grid-row grid-header" *ngIf="displayHeader">
    <mat-list class="list-data">
      <div *ngFor="let address of getSinglePage()">
        <mat-list-item>
        </mat-list-item>
      </div>
    </mat-list>
    <div *ngIf="displayLabel">标签</div>
    <div *ngIf="displayAddress">地址</div>
    <div *ngIf="displayPublicKey">公开地址</div>
    <div *ngIf="displayType">类型</div>
    <div *ngIf="displayPurpose">目的</div>
    <div *ngIf="displayToolsMenu">工具</div>
    <div *ngIf="displayQrMenu">二维码</div>
  </div>

  <mat-list class="list-data">

    <div class="no-results" *ngIf="getSinglePage().length === 0">
      未找到地址
    </div>

    <div *ngFor="let address of getSinglePage()">
      <mat-card class="address-entry">

        <!-- label & address string -->
        <div class="address-name" (click)="openQrCodeModal(address)">
          <span class="label" *ngIf="displayLabel">{{ address.label }}</span>
          <span class="address-string" *ngIf="displayAddress">{{ address.address }}</span>
        </div>

        <!-- Actions/controls -->
        <div *ngIf="displayToolsMenu" class="address-actions">
          <!-- ICO: copy address -->
          <mat-icon fontSet="partIcon" fontIcon="part-copy" class="cursor-pointer" matTooltip="复制地址" ngxClipboard [cbContent]="address.address" (click)="copyToClipBoard()"></mat-icon>
          <!-- ICO: verify message -->
          <mat-icon fontSet="partIcon" fontIcon="part-person-check" (click)="openSignatureModal(address.address)"
                      class="cursor-pointer" matTooltip="签名 / 验证信息"
                      ngxClipboard></mat-icon>
          <!-- ICO: delete -->
          <mat-icon color="warn" fontSet="partIcon" fontIcon="part-circle-remove"
                      class="cursor-pointer"
                      (click)="deleteAddress(address.label, address.address)" matTooltip="删除地址"></mat-icon>
        </div>

      </mat-card>
    </div>

  </mat-list>
</div><!-- .address-table -->

<app-paginator
  *ngIf="(
    displayPagination &&
    getTotalAddressCount() > PAGE_SIZE_OPTIONS[0]
  )"
  #paginator
  [length]="getTotalAddressCount()"
  [pageSize]="getMaxAddressesPerPage()"
  [pageSizeOptions]="PAGE_SIZE_OPTIONS"
  (page)="pageChanged($event)">
</app-paginator>
