<div mat-dialog-title>确认提案提交</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <!-- Confirm proposal submission -->
  <div class="confirmation">

    <div class="tx-info">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-notification-speaker"></mat-icon>
      <div class="title">您正在提交提案</div>
      <p class="help-text">
        您的提案将会被广播到维公链网络供其他用户投票
      </p>
    </div>

    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="name">
      {{data?.title}}
    </div>

    <p class="fee-info">
      手续费:
      <span class="amount">{{data?.proposalTransactionFee?.getAmount()}} VP</span>
      <span class="fiat">&asymp; 0.05 USD</span><br>
      总费用:
      <span class="amount">{{data?.proposalTransactionFee?.getAmount()}} VP</span>
      <span class="fiat">&asymp; 3.47 USD</span>
    </p>

  </div><!-- .confirmation  -->

</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    取消
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    确认 &amp; 提交
  </button>
</mat-dialog-actions>
